<style>
 .page-footer{
bottom:1;
width:100%;
min-height:10%;
background-color:RosyBrown;
}


</style>
<!--<div class="footer navbar-fixed-bottom my-footer">-->
<!--    <p class="text-center text-white">&copy; My choice pvt Ltd. All rights reserved</p>-->
<!--</div>-->

<footer class="page-footer font-small" style="height:2rem">
    <div class="footer-copyright text-center text-white" ><br>© My college store. All rights reserved
    <a href="/"> &nbsp;onlinestore.com</a>
  </div>
  <!-- Copyright -->
</footer>
<br>
